*
{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body
{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: lightblue;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0 , 0.1);
}

.contenedor .zona_izquierda
{
    position: relative;
    background-color: rgb(49, 49, 49);
    padding: 40px;
}

.perfil
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.perfil .imgPerfil
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.perfil .imgPerfil img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil h2
{
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.perfil h2 span{

    font-size: 0.6em;
    font-weight: 300;
}

.info
{
    padding-top: 40px;
}

.titulo
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.info ul
{
    position: relative;
}

.info ul li
{    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;}

.info ul li .icono
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}

.info ul li span
{
    color:#fff;
    font-weight: 300;
}

.info.estudios li
{
    margin-bottom: 15px;
}

.info.estudios h5
{
    color: cyan;
    font-weight: 500;
}

.info.estudios h4:nth-child(2)
{
    color: #fff;
    font-weight: 500;
}

.info.estudios h4
{
    color: #fff;
    font-weight: 300;    
}

.info.estudios p
{
    color: #fff;
    font-size: small;
    font-weight: 300;    
}

.contenedor .zona_derecha
{
    position: relative;
    background-color: lightblue;
    padding: 40px;
}

.acerca_de
{
    margin-bottom: 50px;
}

.acerca_de:last-child
{
    margin-bottom: 0;
}

.titulo2
{
    color: darkblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p
{
    color: black;
}

.acerca_de .caja
{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.acerca_de .caja .año_trabajo
{
    min-width: 150px;
}

.acerca_de .caja .año_trabajo
{
    color: rgb(39, 0, 65);
    font-weight: 500;
}

.acerca_de .caja .texto
{
    text-transform: uppercase;
    color: rgba(49, 49, 49, 0.438);
    font-size: 16px;
}

.acerca_de .caja .año_capacitacion
{
    min-width: 150px;
}

.acerca_de .caja .año_capacitacion
{
    color: rgb(39, 0, 65);
    font-weight: 500;
}

.referencias
{
    width: 90%;
    margin: 50px 1px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    grid-auto-rows: 30px;
}

.titulo_ref 
{
    grid-column-start: 1;
    grid-column-end: 5;
    color: darkblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
}

.encabezado_ref, .item_ref
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado_ref
{
    color: rgba(39, 0, 65);
    font-weight: bold;
    font-size: 1em;    
}

.item_ref
{
    padding: 10px;
    color: black;
    font-size: 0.9em;
}